html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Source Sans Pro";
	scroll-behavior: smooth;
	background: darken(white, 10);
	overflow-x: hidden; // just in case
}

nav {
	display: flex;
	justify-content: space-around;
	@media (max-width: 610px) {
		justify-content: initial;
	}
	position: fixed;
	top: 0;
	z-index: 10;
	padding: 1ex 1em 1ex 1em;
	width: 100%;
	background: darken(white, 2);
	box-shadow: 0 1ex 12px 2px rgba(0, 0, 0, 0.18);

	// the title is clickable
	h1 a {
		text-decoration: none;
		color: black;
		border: none;
	}
}

#navwrap {
	margin-left: -80px;
	@media (max-width: 610px) {
		margin-left: 0;
	}
	img {
		float: left;
		margin-top: 10px; // slight hack: just eyeballed the pixels
		margin-right: 16px;
		width: 64px;
		height: 64px;
	}

	.split {
		display: inline-flex;
		flex-direction: column;
		justify-content: space-around;
		height: 9ex;
	}

	h1 {
		display: inline-block;
		margin: 0; padding: 0;
		font-size: 2rem;
		font-weight: 500;
		font-style: italic;
		letter-spacing: 0.1em;
		text-align: center;
		@media (max-width: 532px) {
			height: 0; // HORRIBLE HACK! :(
		}
	}

	#links {
		display: inline-block;

		a {
			padding: 0 1em 0 1em;
			border-radius: 2px;
			font-size: 1.5rem;
			color: #6078ee;
			margin-right: 0.5em;
			text-decoration: none;
			transition: background 0.3s;
			background: rgba(0, 0, 0, 0.08);

			@media (max-width: 532px) {
				display: none;
			}
		}
		a:last-of-type {
			margin: 0;
		}
		a:hover {
			background: rgba(0, 0, 0, 0.04);
		}
	}
}

// HORRIBLE HACK CONTINUED :(
#navclickhack {
	display: none;
	@media (max-width: 532px) {
		display: inline-block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 11.75ex;
		z-index: 100;
	}
}

main {
	margin-top: calc(13ex);

	display: flex;
	width: 100vw;
	justify-content: space-around;

	#mainwrap {
		width: 1200px; max-width: calc(100vw - 2em);
		flex-direction: column;
		justify-content: space-around;
	}

	section {
		padding: 2ex 2em 2ex 2em;
		background-color: white;
		box-shadow: 1em 2ex 32px 4px rgba(0, 0, 0, 0.24);
		margin-bottom: 2ex;

		// account for header offset
		a[id] {
			position: absolute;
			margin-top: -15ex;
		}

		h1 { font-size: 2rem; margin-bottom: 1rex; }
		h2 { font-size: 1.25rem; margin-bottom: 1rex; }
	}
	section:first-of-type {
		margin-top: 2ex;
	}

	.faqwrap {
		display: flex;
		align-items: center;
	}
	h2.faq, p.faq { margin-bottom: 2ex; }
	h2.faq {
		font-size: 1.25rem;
		font-weight: 600;
		font-style: italic;
	}
	.faqlbl-q, .faqlbl-a { margin-right: 1em; }
	.faqlbl-q::before, .faqlbl-a::before {
		font-weight: 800;
		font-size: 2rem;
		text-align: right;
		width: 100%;
	}
	.faqlbl-q::before {
		content: "Q";
		color: darken(red, 20);
	}
	.faqlbl-a::before {
		content: "A";
		color: lighten(blue, 15);
	}
}

#map {
	box-shadow: 1em 2ex 32px 4px rgba(0, 0, 0, 0.24);
	height: 800px; max-height: calc(100vh - 25ex);

	// shoutouts to https://codepen.io/matteodesanti/pen/PmQKmV :^)
	background-color:#0066CC;
	background-image: linear-gradient(rgba(255,255,255,0.2) 2px, transparent 2px),
	linear-gradient(90deg, rgba(255,255,255,0.2) 2px, transparent 1px),
	linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.center { text-align: center; }

// vi: sw=4 ts=4 noet cc=80
