include mixins.pug
doctype html
html
	+head("ShoreShaver", "What does rising sea levels MEAN!?")
		+css("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap")
		+js("lib.js")
		+js("index.js")
	body
		nav
			#navwrap
				a(href="#"): img(src="/logo.png" alt="logo")
				.split
					h1: a(href="#") ShoreShaver
					#links
						a(href="#faq") FAQ
						a(href="#about") About us
						a(href="#source") Source code
			a#navclickhack(href="#")
		main
			#mainwrap
				#map
				section
					a#faq
					h1.center FAQ
					h2.center (Forthrightly Answered Questions)
					mixin qa(q)
						.faqwrap
							.faqlbl-q
							h2.faq= q
						.faqwrap
							.faqlbl-a
							p.faq: block
					+qa("Can this site predict sea levels in X years?")
						| Absolutely not. Nobody can.
					+qa("What is the point of this site?")
						| Our goal is to inform and entertain, and to
						| demonstrate what a rise in sea level would look like.
						| We are not trying to make any predictions. See above.
					+qa("How does this work?")
						| This is the result of developing and running a complex
						| algorithm which edge-detects coastal polygons using
						| heightmap data, allowing the coastline to be
						| recalculated from an offset heightmap. A sophisticated
						| build system is responsible for compiling this code
						| (written in Python, Cython, and C, as well as a
						| third-party tool written in C++) and running it across
						| the EarthEnv DEM90 dataset to produce a new
						| hypothetical coastline, as well as compiling all the
						| frontend code. The actual map display is done using
						| MapBox GL JS. Map tiles are served from a dedicated
						| server running Void Linux from a 2GB pen drive.
					+qa("Do you have an API?")
						| Yes. Well, kind of. The map tiles are served as
						| TileJSON under /services/{name}, but you have to know
						| the names. Right now we have <i>base</i>,
						| <i>cities</i> and <i>munge2m</i> (the fun part).
				section
					a#about
					h1.center About us
					h2 CS312 Group E
					p Valentin Petrov - Lead Data Scientist
					p Michael Smith - Frontend, server admin and build system
					p Adil Akbar - Logo design, frontend work
					p Andrew McNeil - Poster work, frontend work
					p Fergus MacVicar - Frontend work
				section
					a#source
					h1 Source code
					p
						| We plan to eventually release the goliath that is the
						| source code for this project via GitLab or something.
						| Please check back for updates!
		+css("map.css")
