mixin js(file)
	script(src=file defer)
mixin css(file)
	link(rel="stylesheet" href=file)

mixin head(title, description)
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title= title
	+css("main.css")
	if block
		block
	meta(property="og:title" content=title)
	meta(property="og:description" content=description)
	meta(property="og:site_name" content=ShoreShaver)
